.staff-heading {
    text-align: center;
    margin-top: 4%;
    font-size: 36px;
    background: linear-gradient(135deg, #dc2626 0%, #1e40af 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;

}
.staff-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s;
    margin-top: 30px;
    height: 500px;       
}
.staffintro{
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: black;
    line-height: 1.6;
    margin: auto;
    margin-top: 30px;
}
.PrimaryStaff{
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(135deg, #dc2626 0%, #1e40af 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;


}
